<div class="container">
  <%= link_to 'New Recipe', new_recipe_path, class: 'btn btn-primary new-food' %>
    <div>
      <% @recipes.each do |recipe| %>
        <div class="d-flex justify-content-between">
          <div>
          <%= link_to recipe_path(recipe.id), id: "recipe_path#{recipe.id}" do %>
          <h3><%= recipe.name %></h3>
          <% end %>
            <%= link_to 'Delete', recipe_path(recipe), method: :delete, class: 'btn btn-outline-secondary' %>
          </div>
          <div>
            <p><%= recipe.description %></p>
          </div>
        </div>
      <% end %>
    </div>
</div>

