<!DOCTYPE html>
<html>
  <head>
    <title>RailsRecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %> <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Bootstrap navbar to foods, recipes, public recipes -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
      <%= link_to 'Foods', foods_path, class: 'navbar-brand' %>
      <%= link_to 'Recipes', recipes_path, class: 'navbar-brand' %>
      <%= link_to 'Public Recipes', public_recipes_path, class: 'navbar-brand' %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
